body {
  margin: 0;
  height: 100vh;
  display: grid;
  align-content: center;
}

.container {
  display: grid;
  padding: 20px;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px 20px;
 background: linear-gradient(to bottom right , #ddd, #066ef6d2);
border-radius: 10px;
}
.container div {
margin:10px 0px;
border-radius: 10px 10px;
 background: linear-gradient(to bottom left, #3d3737, #000);
}